<html>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <iframe allowfullscreen="true" style="width: 100%; height: 210px; border: none; opacity: 1; visibility: visible;" id="frame_video" src="https://nlivetv.lagaikhaipro.com/rtv.php?eventId=32514859">
  </body>
</html>
